.modal-content {
  width: 656px;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 10%;
  .modal-header {
    height: fit-content;
    padding: 30px;
    justify-content: flex-start;
    &--text {
      font-size: 20px;
      font-weight: 500;
      color: black;
    }
  }
  .modal-body {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 30px;
    &__info {
      display: flex;
      flex-direction: row;
      &__name {
        flex-direction: column;
        &--label {
          font-size: 14px;
          color: #595959;
          margin-left: 1px;
        }
        input {
          height: 40px;
          width: 300px;
          border-radius: 3px;
          border: 1px solid #595959;
          font-size: 16px;
          font-weight: 500;
          padding-left: 10px;
          padding-right: 10px;
          box-sizing: border-box;
          margin-top: 8px;
          &:focus {
            border: 2px solid #8607eb;
            outline: none;
          }
        }
      }
      &__default {
        width: 250px;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        &--label {
          font-size: 14px;
          color: #595959;
          margin-left: 1px;
          margin-bottom: 10px;
        }
      }
    }
    &__selected {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      &--label {
        font-size: 14px;
        color: #595959;
        margin-left: 1px;
      }
      &__items {
        display: flex;
        flex-direction: column;
        height: fit-content;
        overflow: scroll;
        margin-top: 20px;
        &__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 16px;
          color: #595959;
          margin-left: 1px;
          margin-top: 14px;
          height: 25px;
          &--oid {
            font-weight: 500;
            margin-left: 35px;
          }
          &--description {
            font-weight: 500;
            font-size: 14px;
            margin-left: 15px;
          }
        }
      }
    }
  }
  .modal-footer {
    display: flex;
    padding: 30px;
    &__buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      &--next-wrapper {
        margin-right: 0;
        margin-left: auto;
        height: 40px;
        width: 240px;
      }
      &--close-wrapper {
        align-self: flex-start;
        width: 100px;
        height: 40px;
      }
    }
  }
}
