.clients-list-container {
  display: flex;
  justify-content: center;
  width: calc(100%);
  height: calc(100%);
  border-radius: 2px;
  &__clients-list {
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    &__header {
      width: 100%;
      height: 80px;
    }
    margin-top: 5%;
    width: 90%;
    height: fit-content;
    background-color: #ffffff;
    &__loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
    }
  }
}

.snmp-grid {
  width: 100%;
  border-collapse: collapse;

  .snmp-header {
    height: 40px;
    color: #aeaeac;
    border-top: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    &__th {
      text-align: left;
      &__text {
        color: #aeaeac;
        font-size: 14px;
        padding: 4px 25px;
        width: 100%;
        border-left: 2px solid #cfcfcf;
      }
    }
  }
  .snmp-row {
    height: 60px;
    border-bottom: 1px solid #cfcfcf;
    &__td {
      font-size: 16px;
      color: #aeaeac;
      font-weight: 500;
      padding: 5px;
      &.number-cell {
        width: 100%;
        height: 100%;
        color: #aeaeac;
        font-size: 16px;
        font-weight: 500;
      }
      &.status-cell {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        &__circle {
          height: 8px;
          width: 8px;
          align-self: center;
          border-radius: 50%;
          &.inactive {
            background-color: #aeaeac;
          }
          &.active {
            background-color: #28fc03;
          }
          &.error {
            background-color: #fc0307;
          }
        }
        &__text {
          align-self: center;
          font-size: 14px;
          font-weight: 500;
          color: #aeaeac;
          margin-left: 12px;
        }
      }
      &.type-cell {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        i.desktop {
          content: url('apps/snmp-monitor/src/assets/images/desktop2.svg');
          height: 30px;
          padding: 0;
          background-color: transparent;
          border-radius: unset;
        }
        &__text {
          align-self: center;
          font-size: 14px;
          font-weight: 500;
          color: #aeaeac;
          margin-left: 12px;
        }
      }
    }
  }
}

tr.snmp-row:hover {
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.mat-sort-header-container {
  font-size: 14px;
}

.mat-row.cdk-row {
  &:hover {
    background-color: #f2f2f2;
  }
}

td.mat-cell {
  .type-cell {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    i.desktop {
      content: url('apps/snmp-monitor/src/assets/images/desktop2.svg');
      height: 20px;
    }
    &__text {
      margin-left: 10px;
    }
  }
  .status-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    .status-box {
      width: 84px;
      padding: 0 8px;
      height: 24px;
      color: #808185;
      background-color: #e9eaea;
      justify-content: center;
      align-self: center;
      margin-top: 7px;
      border-radius: 12px;
      display: flex;
      &.green {
        color: #35b37e;
        background-color: #eaf7f2;
      }
      &.red {
        color: #fb0026;
        background-color: #ffe7ea;
      }
      &.orange {
        color: #ff4500;
        background-color: #ffede7;
      }
      &.blue {
        color: #52ccfd;
        background-color: #f0fbff;
      }
      &__text {
        font-size: 14px;
        font-weight: 500;
        margin-top: 3px;
      }
    }
  }
}
