<div class="dashboard">
  <div class="dashboard__cards">
    <div class="row">
      <div [routerLink]="['../clients']" class="dashboard__cards__card">
        <div class="dashboard__cards__card__header">
          <span class="dashboard__cards__card__header--text">Clients</span>
        </div>
        <div class="dashboard__cards__card__icons">
          <i class="desktop"></i>
          <i class="desktop desktop--lower"></i>
          <i class="desktop"></i>
        </div>
        <div class="dashboard__cards__card__info">
          <div class="dashboard__cards__card__info--text">
            Clients online:
            <div
              class="dashboard__cards__card__info--text"
              [ngClass]="{ loader: isLoading }"
            >
              <mat-spinner
                *ngIf="isLoading; else val1"
                diameter="30"
              ></mat-spinner>
              <ng-template #val1>
                {{ dashboardData.activeClients }}
              </ng-template>
            </div>
          </div>
          <div class="dashboard__cards__card__info--text">
            Clients offline:
            <div
              class="dashboard__cards__card__info--text"
              [ngClass]="{ loader: isLoading }"
            >
              <mat-spinner
                *ngIf="isLoading; else val2"
                diameter="30"
              ></mat-spinner>
              <ng-template #val2>
                {{ dashboardData.inactiveClients }}
              </ng-template>
            </div>
          </div>
          <div
            class="dashboard__cards__card__info--text"
            [ngClass]="{ underline: true }"
            (click)="onAddNewClient($event)"
          >
            Add new client:
          </div>
        </div>
      </div>
      <div [routerLink]="['../configuration']" class="dashboard__cards__card">
        <div class="dashboard__cards__card__header">
          <span class="dashboard__cards__card__header--text"
            >Configurations</span
          >
        </div>
        <div class="dashboard__cards__card__icons">
          <i class="wrench"></i>
        </div>
        <div class="dashboard__cards__card__info">
          <div class="dashboard__cards__card__info--text">
            Created configurations:
            <div
              class="dashboard__cards__card__info--text"
              [ngClass]="{ loader: isLoading }"
            >
              <mat-spinner
                *ngIf="isLoading; else val3"
                diameter="30"
              ></mat-spinner>
              <ng-template #val3>
                {{ dashboardData.createdConfigurations }}
              </ng-template>
            </div>
          </div>
          <div
            class="dashboard__cards__card__info--text"
            (click)="onAssignConfiguration($event)"
          >
            Configurations not assigned:
            <div
              class="dashboard__cards__card__info--text"
              [ngClass]="{ loader: isLoading }"
            >
              <mat-spinner
                *ngIf="isLoading; else val4"
                diameter="30"
              ></mat-spinner>
              <ng-template #val4>
                {{ dashboardData.configurationsNotAssigned }}
              </ng-template>
            </div>
          </div>
          <div
            class="dashboard__cards__card__info--text"
            [ngClass]="{ underline: true }"
            (click)="onAddNewConfiguration($event)"
          >
            Create new configuration
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div [routerLink]="['../mibs']" class="dashboard__cards__card">
        <div class="dashboard__cards__card__header">
          <span class="dashboard__cards__card__header--text">Mib viewer</span>
        </div>
        <div class="dashboard__cards__card__icons">
          <i class="channel"></i>
        </div>
        <div class="dashboard__cards__card__info">
          <div class="dashboard__cards__card__info--text">
            Mib added:
            <div
              class="dashboard__cards__card__info--text"
              [ngClass]="{ loader: isLoading }"
            >
              <mat-spinner
                *ngIf="isLoading; else val5"
                diameter="30"
              ></mat-spinner>
              <ng-template #val5>
                {{ dashboardData.mibAdded }}
              </ng-template>
            </div>
          </div>
          <div class="dashboard__cards__card__info--text">
            Mib's not in configurations:
            <div
              class="dashboard__cards__card__info--text"
              [ngClass]="{ loader: isLoading }"
            >
              <mat-spinner
                *ngIf="isLoading; else val6"
                diameter="30"
              ></mat-spinner>
              <ng-template #val6>
                {{ dashboardData.mibsNotInConfiguration }}
              </ng-template>
            </div>
          </div>
          <div
            class="dashboard__cards__card__info--text"
            [ngClass]="{ underline: true }"
          >
            Show Mib list
          </div>
        </div>
      </div>
      <div class="dashboard__cards__card">
        <div class="dashboard__cards__card__header">
          <span class="dashboard__cards__card__header--text">About</span>
        </div>
        <div class="dashboard__cards__card__icons">
          <i class="question_mark"></i>
        </div>
        <div class="dashboard__cards__card__info">
          <div
            class="dashboard__cards__card__info--text"
            [ngClass]="{ underline: true }"
            (click)="onAboutClick($event)"
          >
            About project
          </div>
          <div
            class="dashboard__cards__card__info--text"
            [ngClass]="{ underline: true }"
            (click)="onGuidelineClick($event)"
          >
            Usage guideline
          </div>
          <div
            class="dashboard__cards__card__info--text"
            [ngClass]="{ underline: true }"
            (click)="onReportIssueClick($event)"
            [ngClass]="{ underline: true }"
          >
            Report issue
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
