<div class="container">
  <div class="container__header">
    About project
  </div>
  <div class="container__text">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Development of
    information technology has made that every enterprise needs computers. The
    increasing number of computers in companies creates necessity for
    responsible management.
  </div>
  <div class="container__text">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To deal with that
    responsibility and ease the companies network administrators work, author
    designed and implemented a project described in this thesis. System is
    created to suplement or be the only source of information about many working
    stations.
  </div>
  <div class="container__text">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Application provides
    comprehensive data about each working station with live updates. The
    application allows to customize which data is retrieving and present it with
    reactive and user friendy way.
  </div>
  <div class="container__text">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Application is also
    capable to present historical data for the purpose of creating reports and
    drawing conclusions. All assumptions of this project have been implemented
    and described. All functionalities of this system have been meticulously
    tested.
  </div>
  <div class="container__text">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If any problems occurs
    please contact us at
    <span class="container__text bold">support@netizens.com</span>
  </div>
  <div class="container__text">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To colaborate please
    visit
    <span class="container__text bold"
      >https://github.com/adampicker/snmp-monitor</span
    >
  </div>
  <div class="container__text left">
    Sincerely, Netizen Team
  </div>
</div>
