<div class="mibs-list-container">
  <div class="mibs-list-container__mibs-list">
    <div (click)="onClick()" class="mibs-list-container__mibs-list__header">
      <div class="header">
        <div class="header__text">
          List of registered MIB's
        </div>
        <div class="header__button">
          <button
            (click)="onHeaderButton($event)"
            class="snmp-button snmp-button--primary"
          >
            {{ headerButtonLabel }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="mibs-list-container__mibs-list__loader">
      <mat-spinner></mat-spinner>
    </div>
    <table
      [ngStyle]="{ display: isLoading === true ? 'none' : null }"
      mat-table
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Select</th>
        <td mat-cell *matCellDef="let element">
          <div class="select-cell">
            <label class="container">
              <input
                type="checkbox"
                [checked]="false"
                (change)="rowSelected($event, element)"
              />
              <span class="checkmark"></span>
            </label>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="oid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>OID</th>
        <td mat-cell *matCellDef="let element">{{ element.oid }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="telnetShortcut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Telnet shorcut
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.telnetShortcut }}
        </td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
        <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateOfBirth | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            (click)="redirectToDetails(element.id)"
          >
            <mat-icon class="mat-18">reorder</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef>Update</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="accent"
            (click)="redirectToUpdate(element.id)"
          >
            <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="redirectToDelete(element.id)"
          >
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20]"></mat-paginator>
  </div>
</div>
