.details-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 90%;
  height: 250px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 30px;
  border-radius: 12px;
  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info {
    height: 180px;
    width: 100%;
    &__main {
      display: flex;
      flex-direction: row;
      height: 80px;
      width: 100%;
      &__mac {
        display: flex;
        flex-direction: column;
        &--text {
          font-size: 26px;
          font-weight: 500;
          color: black;
          width: fit-content;
        }
      }
      &__configuration {
        display: flex;
        flex-direction: column;
        margin-right: 130px;
        margin-left: auto;
        margin-top: -10px;
      }
      &__button {
        margin-right: 30px;
        width: 140px;
        height: 40px;
      }
    }
    &__row {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      &__col {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        &--icon-cell {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        &--text {
          font-size: 16px;
          font-weight: 500;
          color: black;
        }
        .status-box {
          width: 84px;
          padding: 0 8px;
          height: 24px;
          color: #808185;
          background-color: #e9eaea;
          justify-content: center;
          align-self: center;
          margin-top: 7px;
          border-radius: 12px;
          display: flex;
          &.green {
            color: #35b37e;
            background-color: #eaf7f2;
          }
          &.red {
            color: #fb0026;
            background-color: #ffe7ea;
          }
          &.orange {
            color: #ff4500;
            background-color: #ffede7;
          }
          &.blue {
            color: #52ccfd;
            background-color: #f0fbff;
          }
          &__text {
            font-size: 14px;
            font-weight: 500;
            margin-top: 3px;
          }
        }
      }
    }
    &--label {
      font-size: 14px;
      color: #595959;
      margin-left: 1px;
      margin-bottom: 3px;
      width: fit-content;
    }
  }
}

i.desktop {
  content: url('apps/snmp-monitor/src/assets/images/desktop2.svg');
  height: 25px;
  margin-right: 10px;
}
