.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 900px;
  margin: 5% auto auto auto;
  &__card-row {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 160px;
    &__card {
      border-radius: 12px;
      box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
      background-color: #fff;
      color: #252422;
      margin-bottom: 20px;
      position: relative;
      border: 0;
      width: 260px;
      height: 150px;
      &:hover {
        box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.35);
      }
      &__card-body {
        padding: 15px 15px 0;
        display: flex;
        flex-direction: column;
        height: 65px;
        &--icon-val {
          display: flex;
          flex-direction: row;
          &__value {
            color: #252422;
            font-size: 2em;
            height: fit-content;
            width: fit-content;
            margin: 25px 10px 0 auto;
          }
          &__icon {
            content: url('apps/snmp-monitor/src/assets/images/atom.svg');
            height: 45px;
            width: 45px;
            margin-top: 5px;
            background-color: #eaf7f2;
            border-radius: 50%;
            padding: 5px;
          }
        }
        &__name {
          color: #9a9a9a;
          font-size: 16px;
          line-height: 1.4em;
          text-align: right;
          height: fit-content;
          width: fit-content;
        }
      }
      &__card-footer {
        padding: 15px 15px 0;
        &__show {
          display: flex;
          flex-direction: row;
          margin-right: 10px;
          margin-left: auto;
          width: fit-content;
          cursor: pointer;
          &__text {
            color: #9a9a9a;
            font-size: 16px;
            line-height: 1.4em;
            align-self: flex-end;
            margin-right: 15px;
          }
          &__angle-right {
            content: url('apps/snmp-monitor/src/assets/images/angle.svg');
            width: 17px;
          }
        }
      }
      &__text {
        font-size: 16px;
      }
    }
  }
}

.demo-chart {
  z-index: 100;
}
.dashboard-container {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 550px;
  background-color: #fff;
  margin: 32px auto auto auto;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  &--loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 550px;
    background-color: #fff;
    margin: 32px auto auto auto;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }
}

/* <a href="https://iconscout.com/icons/social" target="_blank">Atom Logo Icon</a> by <a href="https://iconscout.com/contributors/pocike" target="_blank">Alpár - Etele Méder</a>
  
  <a href="https://iconscout.com/icons/right-arrow" target="_blank">Right Arrow Icon</a> by <a href="https://iconscout.com/contributors/unicons">Unicons Font</a> on <a href="https://iconscout.com">Iconscout</a>
  
  
  */
