<div class="container">
  <div class="container__card-row">
    <div
      *ngFor="let mib of mibsCards | slice: 0:4"
      class="container__card-row__card"
    >
      <div class="container__card-row__card__card-body">
        <div class="container__card-row__card__card-body__name">
          {{ mib.description | titlecase | length: 26:'...' }}
        </div>
        <div class="container__card-row__card__card-body--icon-val">
          <i class="container__card-row__card__card-body--icon-val__icon"></i>
          <div class="container__card-row__card__card-body--icon-val__value">
            {{ mibCardsValues[mib.oid] }}
          </div>
        </div>
      </div>
      <div class="container__card-row__card__card-footer">
        <hr />
        <div class="container__card-row__card__card-footer__show">
          <div
            (click)="onShowOnChart(mib)"
            class="container__card-row__card__card-footer__show__text"
          >
            Show
          </div>
          <i
            class="container__card-row__card__card-footer__show__angle-right"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div
      *ngIf="!isLoading && chartData && chartData.length > 0"
      echarts
      [options]="chartOptions"
      [merge]="updateOptions"
      class="dashboard-container"
    ></div>
    <div *ngIf="isLoading" class="dashboard-container--loading">
      <mat-spinner></mat-spinner>
    </div>
    <div
      *ngIf="!isLoading && chartData && chartData.length === 0"
      class="dashboard-container--no-data"
    >
      Empty data set on the server. Please wait till next update.
    </div>
  </div>
  <div class="container__card-row">
    <div
      *ngFor="let mib of mibsCards | slice: 4:mibsCards.length - 1"
      class="container__card-row__card"
    >
      <div class="container__card-row__card__card-body">
        <div class="container__card-row__card__card-body__name">
          {{ mib.description }}
        </div>
        <div class="container__card-row__card__card-body--icon-val">
          <i class="container__card-row__card__card-body--icon-val__icon"></i>

          <div
            class="container__card-row__card__card-body--icon-val__value"
            *ngIf="mibCardsValues[mib.oid] as value"
          >
            {{ value === '' || !value ? 'Unavailable' : value }}
          </div>
        </div>
      </div>
      <div class="container__card-row__card__card-footer">
        <hr />
        <div
          class="container__card-row__card__card-footer__show"
          (click)="onShowOnChart(mib)"
        >
          <div class="container__card-row__card__card-footer__show__text">
            Show
          </div>
          <i
            class="container__card-row__card__card-footer__show__angle-right"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
