.header {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-left: 60px;
  &__text {
    font-size: 24px;
    font-weight: 500;
    color: black;
  }
  &__button {
    width: 120px;
    height: 40px;
    margin-right: 30px;
    margin-left: auto;
    margin-top: -10px;
  }
}
