.menu-top {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 72px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  position: fixed;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  &__logo {
    font-size: 24px;
    font-weight: 500;
    align-self: center;
    margin-left: 10px;
  }
  &__logout {
    margin-left: auto;
    &__text {
      font-size: 16px;
    }
  }
}
